@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #D9D9D9;
  transition: 0.4s;
}

h1 {
  font-size: var(--h1);
  margin: 1rem;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--mid-brown);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */